.touch__wrapper{
  display: flex;
  /* position: relative; */
}


.touch{
  margin-bottom: 107px;
}

.touch-inner{
  width: 55%;
  /* max-width: 735px; */
}

.form__massage{
  display: block;
  margin: 43px 0;
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 5px;
  resize: none;
  border: none;
  padding:32px 53px ;
}

.form{
  padding-top: 73px;
}

.form__inputs{
  display: flex;
  justify-content: space-between;
}

.form__input{
  display: block;
  width: 47%;
  background-color: #e6e6e6;
  border: none;
  border-radius: 5px;
  padding: 15px 0 15px 30px;
}

.form__sumbit{
  display: block;
  width: 100%;
  background-color: #FF3B3B;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 24px 0;
  font-size: 18px;
  line-height: 34px;
  font-weight: 600;
  text-transform: uppercase;
}

.touch__contacts{
  /* position: absolute; */
  /* margin: 12px;
  right:-140px; */
  /* bottom: 0; */
  margin: 265px 0 0 50px;
  padding: 120px 80px 10px 81px;
  background-color: #2D2D2D;
}

.touch__contacts, .touch__contacts-item{
  color: #FFFFFF;
  display: block;
}

.touch__contacts-item{
  margin-bottom: 27px;
  line-height: 28px;
}

.touch__contacts-title{
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media screen and (max-width:830px ){
  .touch__wrapper{
    flex-direction: column;
  }
  .touch__contacts{
    margin: 30px 0;
    padding:33px 8px 8px 33px;
  }
  .form{
    width: 150%;
  }
}